.container
  .row
    .col-md-12
      .well
        %h1.header Trip members
        %h5.header= "-- #{trip.name}"
        %table.table
          %tr
            %th Name
            %th E-mail
          - trip.users.each do |user|
            %tr
              %td
                = user.name
              %td
                = user.email
        %p
          =link_to 'Back', trips_path, class: 'btn btn-default'
