= "Hello #{@user.name}!"
%br
%br
I would like to invite You on a trip:
.trip-name{style: "color: green;"}
  = @trip.name 
%br
%br
= link_to 'Accept', confirm_membership_path(@membership.id, only_path: false)